body {
    background-color: #EFEFEF;
}

.navbar-inverse {
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: #2A333E;
    color: #829499;
}

.navbar-default {
    margin-bottom: 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#center-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
      margin: 0px 3%;
    }
  }

.board-banner h1 {
    color: #DFDFDF;
    font-family: 'Bowlby One SC';
    letter-spacing: 5px;
    -webkit-text-stroke: 2px black;
    text-shadow: 4px 4px 10px #0F0F0F;
    text-align: center;
}

.banner-text {
    color: #DFDFDF;
    font-family: 'Bowlby One SC';
    letter-spacing: 5px;
    -webkit-text-stroke: 2px black;
    text-shadow: 4px 4px 10px #0F0F0F;
    text-align: center;
    text-decoration: none;
}

.banner-text:hover {
    color: #CFCFCF;
    text-decoration: none;
}

.col-md-8, .col-md-4, .col-sm-7, .col-sm-5 {
    padding: 0px 5px;
}

.well-sm {
    background-color: #FFF;
    margin-bottom: 7px;
}

.rating-buttons {
    height: 60px;
    width: 30px;
    margin-right: 15px;
}

.comment-rating-buttons {
    height: 45px;
    width: 20px;
    margin-right: 15px;
}

.rating {
    height: 60px;
    width: 50px;
    margin-right: 15px;
    border-right: 1px solid #CCC;
    text-align: center;
    line-height: 60px;
    padding-right: 5px;
}

.comment-rating {
    height: 45px;
    width: 50px;
    margin-right: 15px;
    border-right: 1px solid #CCC;
    text-align: center;
    line-height: 45px;
    padding-right: 5px;
}

.comment-name {
    font-weight: bold;
    display: inline-block;
    margin-top: 3px;
}

.comment-body {
    margin: 0px 15px;
}

.post-title {
    margin-top: -20px;
    margin-left: 110px;
}

.post-body * {
    max-width: 100% !important;
    max-height: 100%;
    width: auto;
    height: auto;
    padding: 0px 3px;
}

.panel-description * {
    max-width: 100% !important;
    max-height: 100%;
    width: auto;
    height: auto;
}

.navbar-default .active {
    border-bottom: 2px solid #555;
    > a {
        background-color: #FFFFFF !important;
    }
}

.comment:last-child {
    margin-bottom: 20px;
}